<%= render 'shared/nav_menu' %>

<div id="indexpage">
  	<div id="page-bgtop">
  		<div id="content">
  			<div class="post">
    				<p class="meta"> Posted by <a href="#">Marketing Team</a></p>
    				<h2 class="title"><a href="#">Supporto H24</a></h2>
    				<div class="entry">
    				  <p>La sede della HtSCS srl è in <strong>Via Pazzano 112 </strong>- <strong>00118 Roma</strong> - I<b><img src="/assets/mainmenu/keypad.jpg" alt="whereis" width="240" height="160" align="right" /></b>T</p>

    				  <p> Numero di Telefono: <b>+39 06 83511221</b></p>
    				  <p>Numero di fax: <b>+39 06 83390112</b></p>
    					<p>email: <b>info@htscs.com</b>
    				</p></div>
    				<div></div>
    			</div>
  			<div class="post">
  				<p class="meta">
  					Posted by <a href="#">Marketing Team</a>
  				</p>
  				<h2 class="title"><a href="#">Segnalaci un problema</a></h2> 
  				<div class="entry contact">

            <%= render 'form' %>
            
  				</div>

  			</div>
  		</div>
  <!-- end #content -->
  		<div id="indexsidebar">
  			<ul>
  				<li>

  <!--p>80% di risparmio energetico, 80% di risparmio di spazio, 80%di risparmio per il raffreddamento, questi sono alcuni dei &quot;Green Benefits&quot; di Atrato.<img src="images/Green%20Earth.jpg" alt="Green Earth" width="85" height="51" hspace="70" vspace="18" /></p-->
  				</li>
  				<li>
            <%= render 'shared/portfolio' %>
  				</li>
  				<li>
            <%= render 'shared/soluzioni' %>
  				</li>
  			</ul>
  		</div>
  <!-- end #sidebar -->
  		<div style="clear: both; font-family: Arial, Helvetica, sans-serif;">
  			&nbsp;
  		</div>
  	</div>
  <!-- end #page -->
  </div>
  <div id="footer">
  <!-- 	<p>Copyright (c) 2010 htscs srl. All rights reserved | Design by <a href="www.fbfwebdesign.com">FBF Webdesign</a></p> -->
  	<p>
  		Copyright (c) 2011 htscs srl. All rights reserved
  	</p>
  </div>
  <!-- end #footer -->