/* @override 
	http://localhost:3000/stylesheets/css/style.css?1314880002
	http://localhost:3000/stylesheets/css/style.css?1314880362
*/

/*
Design by Bobdesa per HtSCS
Released for free under a Creative Commons Attribution 2.5 License
*/

/* SEZIONE CSS RELATIVA ALLA HOME PAGE*/

/*header*/
#indexheader {
	width: 940px;
	height: 68px;
	background-image: url(/assets/stylecss/nav_background.png);
	background-repeat: no-repeat;
	background-position: left top;
	display: block;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

/* Menu */

#indexmenu {
	float: left;
	width: 100%;
	height: 68px;
}

#indexmenu ul {
	margin: 0;
	padding: 15px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}

#indexmenu li {
	display: block;
	float: left;
}

#indexmenu a {
	display: block;
	float: left;
	height: 32px;
	padding: 10px 20px 0px 20px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
}

#indexmenu a:hover { 
	text-decoration: none; 
}

#indexmenu .current_page_item {
    color: red;
}

#indexmenu .first {
}

/* Breadcrumbs */

.breadcrumbs {
	margin-left: 160px;
	margin-bottom: 5px;
}

/* Search */

#search {
	float: right;
	padding: 10px 10px 0px 0px;
}

#search form {
	float: right;
	margin: 0;
	padding: 4px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
}

#search-text {
	width: 170px;
	margin-top: 8px;
	margin-left: 60px;
	margin-right: 40px;
	padding: 6px 0 0 7px;
	border: none;
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #838383;
}

#search-submit {
	width: 82px;
	height: 28px;
	margin-left: 10px;
	padding: 0px 5px;
	border: none;
	text-indent: -9999px;
	color: #FFFFFF;
	background-image: url(/assets/stylecss/img03.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#slidercontainer

{
	height: 450px;
	width: 940px;
	display: block;
	margin-right: auto;
	margin-left: auto;
}

/* Page */

#indexpage {
	width: 880px;
	background: #222222;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 40px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 30px;
}

#indexpage-bgtop {
	font-family: Arial, Helvetica, sans-serif;
}


/** LOGO */

.logo{
	max-width: 200px;
	max-height: 200px;
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
}

.separatore{
	margin-left: 140px;
}

#indexlogo {
	width: 920px;
	height: 45px;
	margin: 0 auto;
	padding-top: 5px;
	padding-left: 20px;
}

#indexlogo h1, #indexlogo p {
	float: left;
	margin: 0px;
	line-height: normal;
	text-transform: none;
	font-weight: normal;
	color: #FFFFFF;
}

#indexlogo p {
	padding: 13px 0px 0px 5px;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #FFFFFF;
}

#indexlogo h1 {
	letter-spacing: -1px;
	font-size: 30px;
}

#indexlogo a {
	text-decoration: none;
	color: #FFFFFF;
}

#indexbanner {
	padding-bottom: 20px;
}


/* Sidebar */

#indexsidebar {
	float: right;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#indexsidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#indexsidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
	background: #1E1E1E;
}

#indexsidebar li ul {
	margin: 0px 0px;
}

#indexsidebar li li {
	margin: 0px;
	padding: 8px 0px 8px 0px;
	border-bottom: 1px solid #222222;
}

#indexsidebar li li a {
	padding: 0px 20px;
	font-weight: normal;
}

#indexsidebar li li a:hover {
	color: #FFF;
}

#indexsidebar p {
	margin: 0;
	padding: 0px 14px;
}

#indexsidebar h2 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 20px 2px 20px;
	background: #161616;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #4999CB;
}

#indexsidebar h3 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 20px 2px 20px;
	background: #161616;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #390;
}

#indexsidebar p {
	line-height: 200%;
}

#indexsidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}

/* Footer */

#indexfooter {
	width: 940px;
	height: 120px;
	margin: 0 auto;
	padding: 0;
	background-image: url(/assets/stylecss/img09.jpg);
	background-repeat: no-repeat;
	background-position: left top;
}

#indexfooter p {
	margin: 0;
	padding: 30px 0px 0px 30px;
	text-align: center;
	text-transform: uppercase;
	line-height: normal;
	font-size: 10px;
}

#indexfooter a {
}
#socialicons {
	height: 45px;
	width: 210px;
	display: block;
	position: relative;
	float: right;
	text-align: center;
	margin: 0px;
	padding-top: 0px;
	padding-right: 15px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#upmenu {
	height: 45px;
	width: 210px;
	display: block;
	position: relative;
	float: right;
	text-align: center;
	margin: 0px;
	padding-top: 0px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#upmenu a {
	position: relative;
	float: right;
	margin-left: 10px;
	padding-left:  5px;
	border-left: 1px solid white;
}

#upmenu a.current_page_item {
	color: red;
}

.GoGreen {
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #063;
	font-size: 24px;
}

/* FINE CSS HOME PAGE*/

body {
	margin: 0px;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #919191;
	background-color: #4C9BCD;
	background-image: url(/assets/stylecss/img01.jpg);
	background-repeat: repeat-x;
	background-position: left top;
	
}

h1, h2, h3 {
	margin: 0;
	text-transform: uppercase;
	font-weight: normal;
	color: #549900;
}

h1 { font-size: 44px; }

h2 { font-size: 18px; }

h3 { }

p, ul, ol {
	margin-top: 0;
	line-height: 240%;
	text-align: justify;
}

ul, ol { }

blockquote { }

a { 
    text-decoration: none; 
    color: #4999CB; 
}

a:hover { 
    text-decoration: none; 
}

a.internal_link { 
    text-decoration: none; 
    padding-right: 10px;
    color: #4999CB; 
}

a.internal_link:hover  { 
    text-decoration: none;     
    color: red;
    padding-right: 10px;
}

a.external_link { 
    text-decoration: none; 
    padding-right: 10px;
    background: url(/assets/stylecss/external_link.png) no-repeat right top;
    color: #4999CB; 
}

a.external_link:hover  { 
    text-decoration: none;     
    color: red;
    padding-right: 10px;
    background: url(/assets/stylecss/external_link_hover.png) no-repeat right top;
}


a img {
	border: none;
}

img.left {
	float: left;
	margin: 7px 30px 0 0;
}

img.right {
	float: right;
	margin: 7px 0 0 30px;
}

hr { display: none; }

.list1 {
}

.list1 li {
	float: left;
	line-height: normal;
}

.list1 li img {
	margin: 0 30px 30px 0;
}

.list1 li.alt img {
	margin-right: 0;
}

#wrapper {
}

/* Header */

#header {
	width: 940px;
	height: 68px;
	/*background: url(/images/stylecss/img02.jpg) no-repeat left top;*/
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
	padding-top: 10px;
}

/* Menu */

#menu {
	float: left;
	width: 500px;
	height: 50px;
	display: block;
	visibility: visible;
	position: relative;
	top: 0px;
	clear: both;
	margin-top: -15px;
	margin-left:-5px;
}

#menu ul {
	margin: 0;
	padding: 15px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: block;
	float: left;
}

#menu a {
	display: block;
	float: left;
	height: 32px;
	letter-spacing: -1px;
	text-decoration: none;
	text-align: center;
	text-transform: lowercase;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 18px;
	font-weight: normal;
	color: #FFFFFF;
	padding-top: 10px;
	padding-right: 20px;
	padding-bottom: 0px;
	padding-left: 0px;
}

#menu a:hover { 
	text-decoration: none; 
}

#menu .current_page_item {
    color: red;
}

#menu .first {
}
/* Search */

/*#search {
	float: right;
	padding: 10px 10px 0px 0px;
}

#search form {
	float: right;
	margin: 0;
	padding: 4px 0px 0 0;
}

#search fieldset {
	margin: 0;
	padding: 0;
	border: none;
}

#search input {
	float: left;
	font: 12px Arial, Helvetica, sans-serif;
}

#search-text {
	width: 170px;
	margin-top: 8px;
	margin-left: 60px;
	margin-right: 40px;
	padding: 6px 0 0 7px;
	border: none;
	background: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #838383;
}

#search-submit {
	width: 82px;
	height: 28px;
	margin-left: 10px;
	padding: 0px 5px;
	background: url(/images/stylecss/img03.jpg) no-repeat left top;
	border: none;
	text-indent: -9999px;
	color: #FFFFFF;
}*/

/* Page */

#page {
	width: 880px;
	background: #222222;
	border-radius:15px;
	-moz-border-radius: 15px; /* CSS3 spicing */
	-webkit-border-radius: 15px; /* CSS3 spicing */
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 40px;
	padding-right: 30px;
	padding-bottom: 0px;
	padding-left: 30px;
}


#page-bgtop {
	
	
}


/** LOGO */

/*#logo {
	width: 920px;
	margin: 0 auto;
	padding-top: 5px;
	padding-left: 20px;
}*/

#logo h1, #logo p {
	float: left;
	margin: 0px;
	line-height: normal;
	text-transform: none;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	padding: 13px 0px 0px 5px;
	text-transform: lowercase;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 13px;
	color: #FFFFFF;
}

#logo h1 {
	letter-spacing: -1px;
	font-size: 30px;
}

#logo a {
	text-decoration: none;
	color: #FFFFFF;
}

#banner {
	padding-bottom: 20px;
}

/* Content */

#content {
	float: left;
	width: 600px;
}

/* Post */

.post {
	margin-bottom: 30px;
	padding-bottom: 20px;
	border-bottom: 1px dashed #1D1D1D;
	background: #1E1E1E;
}

.post .title {
	padding: 4px 20px 0px 20px;
	height: 44px;
	background: #161616;
}

.post .title a {
	text-decoration: none;
	text-transform: capitalize;
	font-size: 30px;
	color: #4999CB;
}

.post .date {
	display: inline-block;
	margin: 0px;
	padding: 0px 10px;
	color: #FFFFFF;
}

.post .meta {
	margin-left: 2px;
	padding: 10px 30px 0px 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: normal;
	font-size: 10px;
	color: #66665E;
}

.post .meta span {
	margin: 0px;
}

.post .meta a {
	padding: 8px 10px 5px 10px;
	text-decoration: none;
	color: #FFFFFF;
}

.post .entry {
/* 	padding: 30px 20px 20px 20px; */
	padding: 30px 20px 20px 20px;
}

.post .links {
	display: block;
	width: 120px;
	height: 25px;
	margin: 0px;
	padding: 10px 0px 0px 20px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #161616;
	background-image: url(/assets/stylecss/img10.jpg);
	background-repeat: no-repeat;
	background-position: right top;
}

.post .comments {
	display: block;
	width: 120px;
	height: 18px;
	margin: 0px; 
	padding: 3px 0px 0px 40px;
	background: #90BF35;
	border: 1px dashed #1D1D1D;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
}

/* Sidebar */

#sidebar {
	float: right;
	width: 240px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
}

#sidebar ul {
	margin: 0;
	padding: 0;
	list-style: none;
	line-height: normal;
}

#sidebar li {
	margin-bottom: 30px;
	padding: 0 0 10px 0px;
	background: #1E1E1E;
}

#sidebar li ul {
	margin: 0px 0px;
}

#sidebar li li {
	margin: 0px;
	padding: 8px 0px 8px 0px;
	border-bottom: 1px solid #222222;
}

#sidebar li li a {
	padding: 0px 20px;
	font-weight: normal;
}

#sidebar li li a:hover {
	color: #FFF;
}

#sidebar p {
	margin: 0;
	padding: 0px 14px;
}

#sidebar h2 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 20px 2px 20px;
	background: #161616;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #4999CB;
}

#sidebar h3 {
	height: 30px;
	margin: 0 0 10px 0px;
	padding: 6px 20px 2px 20px;
	background: #161616;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #390;
}

#sidebar p {
	line-height: 200%;
	color: #363;
}

#sidebar a {
	text-align: left;
	text-decoration: none;
	font-weight: bold;
	color: #666666;
}

/* Calendar */

#calendar {
}

#calendar caption {
	padding-bottom: 5px;
	font-weight: bold;
}

#calendar table {
	width: 100%;
	border-collapse: collapse;
	border-bottom: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-right: 1px solid #24130F;
}

#calendar thead th {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	background: #24130F;
}

#calendar tbody td {
	padding: 5px 0;
	text-align: center;
	border-top: 1px solid #24130F;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot td {
	padding: 5px;
	border-left: 1px solid #24130F;
	border-bottom: 1px solid #24130F;
}

#calendar tfoot #next {
	border-top: 1px solid #24130F;
	text-align: right;
}

#calendar tfoot #prev {
	border-top: 1px solid #24130F;
}

#calendar .pad {
	border-bottom: 1px solid #24130F;
}

#calendar #today {
	background: #24130F;
}

/* Footer */

#footer {
	width: 940px;
	height: 120px;
	margin: 0 auto;
	padding: 0;
	/*background: url(/images/stylecss/img09.jpg) no-repeat left top;*/
}

#footer p {
	color: #FFFFFF;
	margin: 0;
	padding: 30px 0px 0px 30px;
	text-align: center;
	text-transform: uppercase;
	line-height: normal;
	font-size: 10px;
}

#footer a {
}


/* Slider Boxes and caption START */
/*
* {
	padding: 0px;
	margin: 0px;
}

body {
	background: #D5DEE7;
}
*/

.boxgrid a {
	color: #C8DCE5;
}

.boxgrid h3 {
	margin: 10px 10px 0 10px;
	color: #FFF;
	/*font: 18pt Arial, sans-serif;*/
	padding: 6px;
	letter-spacing: 0px;
	font-weight: bold;
}


.boxgrid {
	width: 250px; /* old 325px */
	height: 260px; /* old 260px */
	margin: 10px;
	float: left;
	background: #161613;
	border: solid 2px #4999CB;
	overflow: hidden;
	position: relative;
}

.boxgrid img {
	position: absolute;
	top: 0;
	left: 0;
	border: 0;
}

.boxgrid p {
	line-height: 1.2em;
	padding: 0 10px;
	color: #afafaf;
	font-weight: bold;
	/*font: 10pt "Lucida Grande", Arial, sans-serif;*/
}


.boxcaption {
	float: left;
	position: absolute;
	background: #000;
	height: 100px;
	width: 100%;
	opacity: .8;
	/* For IE 5-7 */
	filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=80);
	/* For IE 8 */
	-MS-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=80)";
	top: 220px; /*mette abbassata la maschera con la descrizione*/
}

.captionfull .boxcaption {
	top: 260;
	left: 0;
}

.caption .boxcaption {
	top: 220;
	left: 0;
}


/*Slider Boxes and Caption END*/

/* Contact Form START */


.contact {
	width: 315px; 
	margin: 0px auto; 
	padding: 0px 10px;

}

.contact label {
	/*float: left; */
	/*clear: both;*/
	margin: 0px 10px 0 0; 
	/*width: 95px;*/
	text-align: right; 
	font-size: 16px; 
	color: white;
	text-transform: uppercase; 
	text-shadow: 0px 1px 0px #f2f2f2;
}

.contact input {
	/*float:  left;*/
	/*clear: both;*/
	width: 260px; 
	height: 35px; 
	padding: 5px 20px 0px 20px; 
	margin: 0 0 20px 0;
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-family: sans-serif; 
	font-size: 16px; 
	color: #f2f2f2; 
	/*text-transform: uppercase;*/
	text-shadow: 0px -1px 0px #334f71;
}

    .contact input::-webkit-input-placeholder  {
    	color: #a1b2c3; 
    	text-shadow: 0px -1px 0px #38506b;
    }
	
    .contact input:-moz-placeholder {
	    color: #a1b2c3; 
	    text-shadow: 0px -1px 0px #38506b;
    }

.contact textarea {
	/*float:  left;*/
	width: 260px; 
	height: 170px; 
	padding: 12px 20px 0px 20px; 
	margin: 0 0 20px 0;
	background: #5E768D;
	background: -moz-linear-gradient(top, #546A7F 0%, #5E768D 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#546A7F), color-stop(20%,#5E768D)); /* webkit */
	border-radius: 5px; -moz-border-radius: 5px; -webkit-border-radius: 5px;
	-moz-box-shadow: 0px 1px 0px #f2f2f2;-webkit-box-shadow: 0px 1px 0px #f2f2f2;
	font-family: sans-serif; 
	font-size: 16px; 
	color: #f2f2f2; 
	/*text-transform: uppercase;*/
	text-shadow: 0px -1px 0px #334f71;
}

	.contact textarea::-webkit-input-placeholder  {
    	color: #a1b2c3; 
    	text-shadow: 0px -1px 0px #38506b;
	}
	
	.contact textarea:-moz-placeholder {
	    color: #a1b2c3; 
	    text-shadow: 0px -1px 0px #38506b;
	}

.contact input:focus, textarea:focus {
	background: #728eaa;
	background: -moz-linear-gradient(top, #668099 0%, #728eaa 20%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#668099), color-stop(20%,#728eaa)); /* webkit */
}

.contact input[type=submit] {
	width: 185px; 
	height: 52px; 
	/*float: right;*/
	padding: 10px 15px; 
	margin: 0 15px 0 0;
	-moz-box-shadow: 0px 0px 5px #999;-webkit-box-shadow: 0px 0px 5px #999;
	border: 1px solid #556f8c;
	background: -moz-linear-gradient(top, #718DA9 0%, #415D79 100%); /* firefox */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#718DA9), color-stop(100%,#415D79)); /* webkit */
	cursor: pointer;
}


/* Contact Form END*/