<%= render 'shared/nav_menu' %>

<div id="indexpage">
  <div id="page-bgtop">
		<div id="content">

			<div class="post">				
			  <h2 class="title"><a href="#">Encryption layer 2 - Infoguard Solutions</a></h2>
			  <div class="entry">
  	      <p>
  	        <img src="/assets/products/InfoguardEG10.png" alt="EtherG10G" width="206" height="156" hspace="5" align="left" />
  	        L'Infoguard Ether Guard 10G è un sistema di crittatura dati ad alte prestazioni per reti 1 e 10Gigabit Ethernet livello 2 con l’utilizzo dello standard AES prestazioni al 100% ed una latenza di &lt;5µs costante. Facile integrazione nella rete e minima manutenzione. Configurazione e monitoraggio centralizzato. Sviluppo ed assemblaggio in Svizzera.  
  	      </p>
  	      <p>&nbsp;</p>    
  				<p>
  				  <img src="/assets/products/InfoguardMG10.png" alt="MG10" width="206" height="156" hspace="5" vspace="15" align="left" />
  				  L'InfoGuard Multilink Encryption è una soluzione di criptatura dati flessibile e vantaggiosa con l’utilizzo dello standard AES per connessioni Ethernet, Fibre Channel e FICON con prestazioni 100% ed una latenza &lt;1µs. Trasmette fino a dieci differenti interfacce attraverso reti CWDM, DWDM, Fibra spenta o SDH. Supporta il Gigabit Ethernet, Fibre Channel 1/2/4 Gbps e FICON 1/2 Gbps. Facile l’integrazione nella rete con minima manutenzione.
  				</p>
  				<p>&nbsp;</p>
  				<p>
  				  <img src="/assets/products/InfoguardEG10_2.png" alt="SonetSDH" width="206" height="156" hspace="5" vspace="5" align="left" />
  				  L'InfoGuard SONET/SDH Encryption è un sistema di crittatura dati su rete SONET/SDH a livello 2 con l’utilizzo dello standard AES prestazioni al 100% ed una latenza minima &lt;1µs. Facile integrazione nella rete esistente STM-64 SONET/SDH. Configurazione  e monitoraggio centralizzato. Sviluppo ed assemblaggio in Svizzera. 
  				</p>
			  </div>
		  </div>
		  
		  <div class="post">
				<p class="meta"> Posted by <a href="#">Marketing Team</a></p>
				<h2 class="title"><a href="#">Encryption layer 2 - ATMedia Solutions</a></h2>
				<div class="entry">
					<p>
					  <img src="/assets/products/ATMediaEthEncryptor100M.png" alt="ATM100" width="206" height="156" hspace="5" align="left" />
					  L'ATMedia Ethernet Encryptor è un sistema di crittatura layer 2 per reti ethernet. La soluzione ha una banda di 100Mbps ed è trasparente al protocollo; si qualifica come un ottimo sistema di crittatura per collegamenti punto punto su rete urbana (MAN).
					</p>
				  <p>&nbsp;</p>
					<p>
					  <img src="/assets/products/ATMediaEthEncryptor1G.png" alt="Encry1Gb" width="206" height="156" hspace="5" vspace="5" align="left" />
					  L'ATMedia Gigabit Ethernet Link Encryptor è un sistema di crittatura layer 2 per reti ethernet. La soluzione ha una banda di 1Gbps ed è trasparente al protocollo. Si qualifica come un ottimo sistema di crittatura per collegamenti punto punto su rete geografica (WAN).
					</p>
				  <p>&nbsp;</p>
          <p>
            <img src="/assets/products/ATMediaEthEncryptor10G.png" alt="Encry10Gb" width="206" height="156" hspace="5" vspace="5" align="left" />
            L'<strong>ATMedia 10G Ethernet Encryptor</strong> è un sistema di crittatura   layer 2 per reti 10 Gigabit Ethernet e OC192/STM64 SONET/SDH. La   soluzione ha una banda di 10Gbps ed è trasparente al protocollo; si   qualifica come un ottimo sistema di crittatura per collegamenti punto   punto su backbone geografica.
          </p>
          <p>&nbsp;</p>
          <p>
            <img src="/assets/products/ATMediaATMEncryptor.png" alt="ATMsdh" width="206" height="156" hspace="5" vspace="5" align="left" />
            L'<strong>ATMedia SDH Encryptor</strong> è un sistema di crittatura   trasparente al protocollo per reti SONET/SDH. L'area di applicazione è   caratterizzata da scenari dove apparati PBX, routers, switches ed   apparati audio/video sono connessi via links OC3, OC12 o OC48 SONET/SDH e   devono essere salvaguardati contro tapping e manipolazioni.
          </p>
        </div>
  			<div>
  			  <%= link_to "torna alla homepage", root_path, :class => "links" %>
  			</div>
			</div>
			
		</div>
    		<!-- end #content -->

    		<div id="indexsidebar">
    			<ul>
    				<li>
    					<h3>Go Green</h3>
    					<p>80% di risparmio energetico, 80% di risparmio di spazio, 80% di risparmio per il raffreddamento, questi sono alcuni dei &quot;Green Benefits&quot; di Xiotech.</p>
    				</li>
    				<li>
              <%= render 'shared/portfolio' %>
    				</li>
    				<li>
              <%= render 'shared/soluzioni' %>
    				</li>
    			</ul>
    		</div>
    <!-- end #sidebar -->


    		<div style="clear: both;">
    			&nbsp;
    		</div>
    	</div>
    <!-- end #page -->
    </div>


    <div id="footer">
    	<p>
    		Copyright (c) 2011 htscs srl. All rights reserved.
    	</p>
    </div>
    <!-- end #footer -->