<%= render 'shared/nav_menu' %>

<div id="indexpage">
  <div id="page-bgtop">
		<div id="content">

			<div class="post">
				<p class="meta"> Posted by <a href="#">Marketing Team</a></p>
				<h2 class="title"><a href="#">Shunra - Simulatore di rete geografica</a></h2>
				<div class="entry">
				  <h3>Progetteresti un veicolo senza considerare il terreno?</h3>
					<p>La soluzione Shunra VE STN è un avanzata combinazione hardware e software che permette di ricreare in laboratorio qualsiasi tipo network. Shunra VE STN permette di valutare accuratamente le funzionalità, la scalabilità e le prestazioni delle applicazioni – prima e dopo il rilascio in produzione. L’interfaccia di management del VE STN è una versione personalizzata di Microsoft® Visio che permette di disegnare ed eseguire in maniera facile ed intuitiva simulazioni di scenari di rete complessi per poter ricreare sempre un modello di ogni infrastruttura enterprise su cui testare le applicazioni.</p>
          <h3>Svilupperesti un’applicazione senza considerare il network?</h3>
					<p>Le reti geografiche WAN quali internet o complesse intranet sono supportate da una molteplicità di infrastrutture IT ed accertarsi che applicazioni distribuite funzionino efficientemente con tempi di risposta accettabili in questi scenari è un’operazione a dir poco ardua. Parametri quali la distanza fisica, le differenti ore di picco durante la giornata, la velocità delle connessioni e la qualità dei servizi internet influiscono pesantemente sull’efficienza del trasferimento dati. Inoltre poter predire l’impatto di questi parametri e l’efficienza operativa delle proprie applicazioni, sviluppate per le reti locali LAN, attraverso le reti geografiche WAN, sono punti chiave per la realizzazione di compiti quali lo sviluppo di una nuova applicazione, il suo upgrade o lo spostamento di un CED o di una server farm.</p>
			  </div>
				<div></div>
			</div>
			
			<div class="post">				
				<h2 class="title"><a href="#">Descrizione tecnica</a></h2>
				<div class="entry">
          <p>
					  <img src="/assets/products/shunra_VE_STN.png" width="550" height="200" alt="shunra VE STN" />
					</p>
					<p>L’appliance VE STN supporta fino a:</p>
					<ul>
					 <li>20 porte 10/100MbEth;</li>
					 <li>22 porte 1GbEth;</li>
					 <li>2 porte 10GbEth</li>
					</ul>
					<p>permettendo la creazione di un’ampia gamma di scenari di rete che possono riprodurre in un ambiente controllato gli stessi comportamenti dinamici e complessi che sono specifici di ogni infrastruttura IT.</p>
					<p>Questo si traduce in: </p>
          <ul>
            <li>Nuove possibilità per gli sviluppatori delle applicazioni che ora possono avere un idea di come le loro applicazioni si comporteranno attraverso la rete geografica o in presenza di una rete congestionata.</li>
            <li>Possibilità di testare cambiamenti alla topologia della rete prima ancora di effettuarli nella rete aziendale.</li>
            <li>Possibilità di emulare una congestione della rete geografica per testare le prestazioni delle applicazioni client/server quali Outlook o MsExchange su vari collegamenti geografici prima di implementarli in produzione.</li>
            <li>Possibilità di effettuare degli “stress test” che simulano un pieno carico di utilizzo delle applicazioni business (per esempio PeopleSoft) per testare non solo i server Unix ma anche il network e i firewall e  verificare l’eventuale necessità di un potenziamento dell’infrastruttura.</li>
            <li>Possibilità di eseguire “stress test” sulla rete simulando un alto volume di carico su uno specifico circuito o apparato così da determinare quando e come fallirà.</li>
            <li>Possibilità di generare traffico che simula le applicazioni di produzione in una rete controllata così chè, se un apparato di rete dovesse essere aggiunto, aggiornato o riconfigurato sia possibile verificare in anticipo in che modo risponderanno la rete e le applicazioni.</li>
            <li>Possibilità di valutare la funzionabilità, la scalabilità e le prestazioni di ciascuna applicazione di rete per ogni condizione di rete geografica.</li>
          </ul>
			  </div>
		  </div>

			<div class="post">				
				<h2 class="title"><a href="#">Decidere sui dati e non sulle sensazioni</a></h2>
				<div class="entry">
          <h3>Decisioni sicure sugli investimenti nelle infrastrutture.</h3>					
          <p>Finora si è sempre cercato una soluzione a problemi di prestazioni con l’aumento della banda, ma oggi gli amministratori di rete devono scegliere tra  soluzioni di QoS, accelleratori WAN, caching, compressione, WAFS e MPLS di differenti costruttori. E’ quindi divenuto essenziale poter testare in maniera rigorosa con un metro omogeneo ed obbiettivo le differenti soluzioni prima di effettuare un investinento. Con lo Shunra VE STN si può misurare esattamente come saranno influenzate le prestazioni nelle sedi remote, permettendo un analisi basata sulla propria realtà e non su studi fatti da terze parti che non possono riflettere le specificità della propria infrastruttura aziendale.</p>
          <h3>Controllo sui cambiamenti</h3>
          <p>Gi amministratori di rete necessitano di un chiaro e migliore modo per effettuare certifiche, ricerche e risoluzioni di problematiche nelle nuove applicazioni e nei servizi prima che vengano inserite nell’ambiente di produzione. Sia che si stia effettuando l’upgrade di un’applicazione CRM o il rilascio di un LDAP, un ambiente di test virtuale permetterà di sapere in anticipo che tipo di prestazioni aspettarsi tra i vari CED e le sedi remote.</p>
          <h3>Reti wireless, mobili e satellitari</h3>
          <p>Reti wireless e mobili introducono specifici parametri che riducono le prestazioni quali differeti restrizioni di banda mano a mano che gli utenti si avvicinano o si allontanano dalle stazioni base, problemi di connessione quando il collegamento passa da una cella ad un’altra e problemi di prestazione quando l’utente perde la visibilità della stazione base. Le reti satellitari introducono condizioni ancora più difficili per i dati e la voce. Sono spesso caratterizzate da alta latenza (dovuta alla grande distanza tra il satellite ed il suolo) e pacchetti droppati, che si possono ripercuotere pesantemente sulle prestazionie e la stessa funzionalità delle applicazioni. Shunra riproduce con precisione le condizioni della rete wireless – inclusa mobilità, pause inter-cella e perdita di visibilità-cella, così come i tradizionali degradi quali latenza, jitter, perdita di pacchetti e limitazione di banda – su LAN Ethernet, permettendo a chi sta testando di usare emulatori di cellulare basati su PC per validare applicazioni con semplicità già dalle prime fasi di sviluppo e per tutto il ciclo di test. Con lo shunra si possono perfino creare scenari delle situazioni peggiori in cui si ha perdita di visibilità del segnale a causa dello spostamento dell’utente finale ed inoltre congestione e disturbi sul canale di connessione.</p>
          <h3>Spostamento del CED</h3>
          <p>Verificare innanzitutto la fattibilità di un progetto di spostamento del CED. Successivamente stabilire la locazione ottimale dei server e rispettiva configurazione di ciascuna  applicazione. Stabilire le dipendenze inter-server per pianificare uno spostamento in più fasi ed identificare quali servers devono essere spostati insieme. Stabilire se ogni modifica all’infrastruttura di  rete è necessaria. Stabilire se tecniche come servizi di terminal o ottimizzazioni WAN risolveranno effettivamente le problematiche di prestazioni. Scoprire in anticipo problematiche nella progettazione delle applicazioni che possano precludere lo spostamento del CED. Stabilire le conseguenze sulle prestazioni dello spostamento di servers per specifiche applicazioni, quali Microsoft Exchange e Active Directory. Mostrare gli effettivi livelli di servizio che si avranno dopo lo spostamento, sia ai manager che agli utenti finali in modo da certificare e validare i progetti di DR e BC.</p>
          <h3>VoIP</h3>
          <p>Il VoIP, è al tempo stesso critico per il business ed estremamente sensibile alle condizioni del network. Combinare voce, dati e a volte anche video sullo stesso network aziendale è rischioso e richiede un’attenta pianificazione. Con Shunra VE STN si può effettivamente verificare che la rete aziendale sia pronta per il VoIP. Infatti si può riprodurre con precisione il network aziendale ed attaccare i telefoni VoIP al modello virtuale creato così da poter ascoltare di persona come risulterà la voce una volta rilasciato il VoIP in produzione. Inoltre si può stabilire con precisione quali risorse di rete sono necessarie per supportare Triple Play, ottimizzare l’architettura delle infrastrutture QoS e MPLS e misurare l’impatto di pianificati cambi del network sulle prestazioni del VoIP.</p>
          <h3>Applicazioni WEB</h3>
          <p>Il vero test sulle prestazioni del sito web è la percezione dell’utente finale. E per analizzare tale percezione si devono considerare fattori quali i vari tipi di connessioni internet che il cliente usa, la loro distanza dal centro di hosting e scoprire eventuali colli di bottiglia dovuti alle prestazioni del network prima di rilasciare il sito web. Per ottenere gli attesi tempi di risposta lungo tutto il percorso fino all’utente finale si ha bisogno di ripetibilità e modificabilità degli ambienti di test per permettere la ricreabilità di problematiche e relativo sviluppo dei fix, oltre la comparazione precisa delle prestazioni di differenti versioni del sito web. Si eliminano inoltre i rischi di sicurezza che si avrebbero testando online applicativi ancora in sviluppo.</p>
          <h3>Progettazione di nuove soluzioni</h3>
          <p>Fornire prodotti di alta qualità e di facile implementabilità sulla rete abbattendo i costi di sviluppo “fix” ed i ritardi nel rilascio sul mercato del prodotto causati da problemi di rete scoperti solo in beta test. Accellerare il ciclo di vendita con “test pilota virtuali” che confermino le prestazioni del prodotto ed eliminare bugs che se scoperti in produzione, oltre ad innalzare i costi di supporto, minano la fiducia del cliente. Prevedere, dimostrare e documentare le prestazioni di un progetto ancora prima di implementarlo ottenendo sia una più efficace collaborazione con lo staff IT del cliente, sia una ricerca e risoluzioni di problematiche più veloce ed efficace.</p>
          <h3>Trovare risposta alle preoccupazioni maggiormente sentite:</h3>
          <ul>
            <li>L’applicazione è pronta per l’ambiente di produzione?</li>
            <li>Come verificare il comportamento dell’applicazione nel mondo reale già dalle prime fasi di sviluppo?</li>
            <li>Gli utenti remoti potranno fruirne con tempi di risposta appropriati?</li>
            <li>È possibile ricreare con precisione la percezione che l’utente finale ha da ogni luogo nel mondo su ogni tipo di connessione internet?</li>
            <li>Quanti visitatori contemporanei può gestire il sito web aziendale o le applicazioni basate su web?</li>
            <li>Quali sono i punti deboli dell’applicativo da aspettarsi una volta rilasciato in produzione?</li>
            <li>Quanto bene riesce a gestire piccoli difetti in produzione?</li>
            <li>La nuova versione dell’applicazione avrà le stesse prestazioni e scalabilità dell’attuale?</li>
            <li>Che modifiche, se necessarie, devono essere fatte all’infrastruttura per ottenere il “livello di servizio” prefissato per le applicazioni critiche?</li>
            <li>Eventuali soluzioni proposte per migliorare le prestazioni dell’utente finale riusciranno realmente ad ottenere quanto prefissato?</li>
            <li>Come risponderanno le prestazioni delle applicazioni nei periodi di “picco” di attività e ad eventuali variazioni di utilizzazione nel tempo?</li>
            <li>Un problema di prestazioni è da ricercare nel front-end dell’applicazione, nella rete o nei processi di back-end?</li>
            <li>Gli investimenti per la nuova infrastuttura saranno ripagati dal miglioramento delle prestazioni?</li>
            <li>L’aumento di banda risolverà realmente le problematiche di prestazioni?</li>
            <li>Come prendere decisioni su investimenti nell’infrastruttura senza complicate prove sul campo?</li>
            <li>L’attuale processo di controllo sui cambiamenti assicura che nuove applicazioni, servizi ed infrastrutture possano tranquillamente essere introdotte nell’ambiente di produzione?</li>
            <li>Come effettuare una veloce e semplice ricerca dei problemi che si verificano dopo la messa in produzione con relativa risoluzione degli stessi?</li>
            <li>Su quali collegamenti posso allocare meno banda senza influenzare le prestazioni?</li>
            <li>La mia infrastruttura attuale è pronta per il VoIP?</li>
            <li>Quale sarà la qualità della chiamata nelle sedi remote?</li>
            <li>Quale sarà l’impatto del traffico VoIP sui dati “mission critical” e/o sulle applicazioni video?</li>
            <li>Le tue applicazioni avranno prestazioni accettabili attraverso una rete wireless in produzione?</li>
            <li>Come risponderanno le applicazioni wireless ad interruzioni di connessione e alle restrizioni di banda che sono solitamente presenti nel mondo reale?</li>
            <li>Si può essere sicuri che i prodotti sviluppati funzioneranno come previsto quando saranno realmente implementate sulla rete dei clienti?</li>
            <li>Si può evitare la preoccupazione che le dimostrazioni presso il cliente possano essere influenzate in maniera negativa da inaspettate condizioni della loro rete?</li>
            <li>Quale sarà l’impatto sugli utenti finali di un eventuale spostamento del CED o delle server farms?</li>
          </ul>                   
			  </div>
		  </div>

			<div class="post">				
				<h2 class="title"><a href="#">Quando utilizzare lo Shunra VE STN</a></h2>
				<div class="entry">
          <h3>Progetti sulla infrastruttura di rete </h3>
          <ul>
            <li>Pianificazione dell’infrastruttura IT per le applicazioni basate sul network </li>
            <li>Verifica delle prestazioni sulle sedi remote di specifici servizi di rete - attraverso tutto il ciclo di sviluppo.</li>
            <li>Consolidamento di CED o di server farm</li>
            <li>Disaster recovery e business continuity</li>
            <li>Pianificazione della capacità del network</li>
            <li>Progettazione del network</li>
            <li>Evitare problemi in produzione legati al network.</li>
            <li>Assicurare una ottimale fruibilità del network all’utente remoto.</li>
            <li>Scelta di soluzioni di ottimizzazione WAN</li>
            <li>Scelta di soluzioni VoIP</li>
            <li>Verifica dell’infrastruttura di rete per il VoIP</li>
            <li>Gestione di cambi alle infrastrutture</li>
            <li>Migrazione a IPv6</li>
            <li>Attivazione di Active Directory</li>
            <li>Migrazione di email</li>
            <li>Test di SAN basate su IP</li>
            <li>Investimenti nel potenziamento dell’infrastruttura IT</li>
            <li>Problematiche post rilascio in produzione</li>
            <li>Test su nuove soluzioni sviluppate internamente o proposte da terze parti</li>
            <li>Test per reti satellitari</li>
          </ul>
          <h3>Progetti sulle applicazioni</h3>
          <ul>
            <li>Predire e misurare le performance prima del rilascio di un’applicazione all’utente finale.</li>
            <li>Test di certifica per il passaggio delle applicazioni all’ambiente di produzione</li>
            <li>Verifica delle prestazioni  sulle sedi remote di nuove applicazioni o aggiornamenti delle esistenti - attraverso tutto il ciclo di sviluppo.</li>
            <li>Evitare problemi in produzione legati alla programmazione delle applicazioni.</li>
            <li>Assicurare una ottimale fruibilità delle applicazioni all’utente remoto.</li>
            <li>Test di applicazioni enterprise quali Oracle, SAP e Microsoft prima del rilascio</li>
            <li>Simulazione di Internet per testare applicazioni web</li>
            <li>Test di fruibilità per l’utente finale</li>
            <li>Eliminazione di rilasci delle applicazioni in più fasi durante le quali si eseguono riparazioni ed assestamenti a scapito dell’utente finale.</li>
            <li>Ricerca e soluzioni di problematiche riscontrate in produzione </li>
            <li>Test su reti Wireless, mobili e satellitari </li>
            <li>Test su applicativi web per internet e l’e-commerce </li>
            <li>Rilocazione di applicazioni da una nazione ad un’altra (offshoring)</li>
            <li>Gestione e controllo del cambio di prestazioni nel Network</li>
            <li>Valutazione di soluzioni prima dell’acquisto </li>
            <li>Test di certifica per il rilascio di applicazioni per reti Wireless e mobili</li>
          </ul>
			  </div>
			  <div>
				  <%= link_to "torna alla homepage", root_path, :class => "links" %>  			  
				</div>
		  </div>
		  
		</div>
    		<!-- end #content -->

    		<div id="indexsidebar">
    			<ul>
    				<li>
    					<h3>Go Green</h3>
    					<p>80% di risparmio energetico, 80% di risparmio di spazio, 80% di risparmio per il raffreddamento, questi sono alcuni dei &quot;Green Benefits&quot; di Xiotech.</p>
    				</li>
    				<li>
              <%= render 'shared/portfolio' %>
    				</li>
    				<li>
              <%= render 'shared/soluzioni' %>
    				</li>
    			</ul>
    		</div>
    <!-- end #sidebar -->


    		<div style="clear: both;">
    			&nbsp;
    		</div>
    	</div>
    <!-- end #page -->
    </div>


    <div id="footer">
    	<p>
    		Copyright (c) 2011 htscs srl. All rights reserved.
    	</p>
    </div>
    <!-- end #footer -->