<%= render 'shared/nav_menu' %>

<div id="indexpage">
  <div id="page-bgtop">
		<div id="content">
			<div class="post">
				<p class="meta"> 
				  <a href="#">home</a>><a href="#">soluzioni</a>><a href="#">Crittografia</a>
				</p>
				<h2 class="title"><a href="#">Riduzione del rischio nel settore IT</a></h2>
				<div class="entry">
					<p> Anche se il termine sicurezza vuol dire &quot;senza preoccupazione&quot;, dal latino &quot;sine cura&quot;, la definizione più corretta nell'ambito dell'Information Technology è quella di una riduzione del rischio  di accesso, modifica o cancellazione dei dati di una azienda senza il consenso dell'azienda stessa.   
					</p>
					<h4><em>Garanzie della sicurezza</em></h4>
					<p>
					  <img src="/assets/solutions/Security.png" alt="padlock" width="206" height="170" hspace="10" align="left" />
					  I fattori di crescita ed evoluzione dell'ICT, con particolare riguardo   allo sviluppo di reti di interconnessione tra i sistemi informativi, e   la sua diffusione in uno spettro di applicazioni sempre più vasto   impongono una rigorosa attenzione agli aspetti legati alla sicurezza. 
					</p>
          <p> La sicurezza totale, ovvero l'assenza di rischio si ha solo in assenza   di pericoli e questo non è vero nella realtà di tutti i giorni.   Attualmente è però diffuso il pensiero che le varie misure di sicurezza   siano a volte eccessive e che andranno ad interferire con la normali   attività lavorative aggravandole con altre attività sovrabbondanti se   non addirittura superflue. La realtà è che i dati, o meglio le   informazioni che rappresentano, sono la base su cui viene condotta   l'attività economica, politica e commerciale di una azienda e sono   quindi un bene sensibile per lo sviluppo aziendale che deve essere   protetto adeguatamente. La sicurezza IT è già da oggi un elemento   fondamentale per la competitività di domani. 
          </p>
          <p> Il mondo del business, oggi, non può essere concepito senza i networks a   fibre ottiche. Il rischio di violazioni del network viene spesso   sottovalutato o non considerato. Molte compagnie ed autorità pubbliche   si affidano alla tecnologia <strong>Gigabit Ethernet</strong> per trasferire   grandi quantità di dati; nel fare questo esse stesse si interessano alla   trasmissione dei dati basata su fibre ottiche, una tecnologia che offre   la più ampia larghezza di banda, velocità ed affidabilità. Nell’uso di   questa tecnologia è importante considerare i rischi relativi al furto di   dati e allo spionaggio industriale, che potrebbero avere effetti   devastanti. 
          </p>
          <p> Molte organizzazioni o loro responsabili che decidono di adottare   soluzioni ICT spesso trascurano il problema sicurezza. Quindi non si   preoccupano di proteggere i propri sistemi, che divengono così facili   obiettivi di attacchi informatici. D’altro lato le tecnologie per la   sicurezza sono difficili da comprendere e gestire correttamente. Queste   considerazioni impongono la ricerca delle necessarie garanzie che   offrano: 
          </p>
          <ul>
            <li>un elevato grado di sicurezza, in termini di riservatezza, integrità   disponibilità e autenticità dei dati;</li>
            <li>il trattamento dei dati personali e la gestione delle transazioni   fatte secondo i dettami delle direttive europee e della normativa sulla   protezione dei dati personali;</li>
            <li>una visione unitaria della sicurezza in rete con standard semplici e   sicuri;</li>
            <li>uno sviluppo e diffusione di tecnologie che contribuiscano a   migliorare la sicurezza dei prodotti e dei servizi;</li>
            <li>infrastrutture che possano assecondare il processo di “messa in   sicurezza” delle risorse e delle attività.</li>
          </ul>
        </div>
				<div></div>
			</div>
			
			<div class="post">	
				<h2 class="title"><a href="#">Protezione dei networks in fibra ottica attraverso la criptatura</a></h2>
				<div class="entry">
					<p> Informazioni sensibili provenienti da istituti finanziari, compagnie assicurative, industrie chimiche e farmaceutiche, amministrazioni pubbliche viaggiano attraverso i networks a fibra ottica; se l’integrità, l’affidabilità e l’autenticità di queste informazioni non sono garantite al 100%, gli utilizzatori di questa tecnologia potrebbero essere esposti a rischi molto grandi. L’unico sistema veramente sicuro per proteggersi da questi attacchi è la criptatura dei dati ottenuta utilizzando dispositivi dedicati.
Rilevamento

Controllare le attività svolte sulla rete. Al fine di individuare situazioni anomale correlate ad attacchi in corso è necessario controllare costantemente la rete. Esistono tecnologie che potrebbero essere utilizzate per supportare questo tipo di attività, che denominiamo monitoraggio attivo. Il monitoraggio attivo è molto importante poiché consente di “catturare” sul nascere un tentativo di intrusione o un attacco in corso. Questo tipo di monitoraggio consente inoltre di raccogliere dati attendibili sulle intrusioni informatiche che possono essere proficuamente utilizzati per previsioni e trend nel settore.
Analisi del rischio

L’analisi del rischio è un processo fondamentale per la pianificazione, realizzazione e gestione di qualsiasi sistema di sicurezza ICT. Infatti, senza una costante valutazione del valore del patrimonio informativo, dell’intensità delle minacce attuali e potenziali, delle vulnerabilità del sistema e dei potenziali impatti tangibili e intangibili sull’attività e sul posizionamento dell’Amministrazione, risulta impossibile definire un sistema di sicurezza veramente equilibrato e bilanciato rispetto ai rischi ed ai danni/perdite che potrebbero verificarsi. Nella identificazione e selezione di una metodologia di analisi del rischio si dovranno tenere conto delle seguenti caratteristiche di base:    
          </p>
          <ul>
            <li>deve poter valutare oltre al rischio tecnologico, anche il rischio organizzativo, operativo e amministrativo;</li>
					  <li>deve poter valutare il rischio di un singolo bene informativo o di un’intera applicazione intesa come unità distinta a supporto di un processo;</li>
					  <li>deve essere progettata per essere usata sia per nuove applicazioni in via di sviluppo che per applicazioni esistenti o applicazioni acquisite dal mercato;</li>
					  <li>deve essere progettata con l’ottica di supportare l’analisi dei rischi per applicazioni di tutti i tipi e basate su tutte le tecnologie;</li>
					  <li>deve supportare coloro che si occupano sia di sicurezza Organizzativa che di sicurezza ICT;</li>
					  <li>deve raccogliere e distribuire informazioni aggiornate sulle intrusioni e relative contromisure;</li>
					  <li>deve poter rendere disponibili tutte le informazioni legate a nuove forme di intrusione al fine di consentire agli utenti di poterle riconoscere.</li>
					</ul>
					<p><b>I costi del rischio</b></p>
					<p>Tali costi possono essere così indicati in dettaglio:</p>
					<ul>
				    <li>costi di personale dovuto al tempo necessario per il ripristino della normale operatività a seguito di problemi di sicurezza;</li>
					  <li>spese per l’acquisto di beni persi o per il ripristino di beni danneggiati;</li>
					  <li>danni economici imputabili direttamente o indirettamente a processi non corretti o al blocco totale o parziale dei sistemi;</li>
					  <li>costi per la collettività derivanti dal degrado o dalla temporanea assenza dei servizi;</li>
					  <li>mancato raggiungimento degli obiettivi di customer satisfation per carenza di fiducia, da parte dei clienti, nei servizi informatici.</li>
					</ul>
					<p><b>Rischi potenziali dei networks ottici</b>					  </p>
					<p>La teoria che considera i cavi in fibra ottica più sicuri rispetto ai tradizionali fili di rame non è completamente corretta in quanto esistono i cosiddetti <strong>Optical Tapping Methods</strong>, attraverso i quali è possibile estrarre i dati dai networks in fibra ottica; il rischio di essere individuati è molto basso se non inesistente. Attraverso le sovrapposizioni e lo splitting dei cavi in fibra ottica è possibile accedere facilmente al flusso dati senza che il segnale ottico venga modificato o che le operazioni del network vengano disturbate. È sufficiente curvare le fibre lasciando il rivestimento (cladding) intatto; e questo basta per intercettare una piccola porzione del segnale ed attingere quindi alle informazioni senza correre il rischio di essere individuati.</p>
          <p>La stessa connessione fisica tra le CPU ed i devices di input/output ha subito un'evoluzione tecnologica passando da collegamenti in parallelo   su cavi di rame (BUS/TAG) a collegamenti seriali su fibre ottiche   attraversate da luce LED definiti Enterprise Systems CONnection(ESCON)   fino agli attuali collegamenti in fibra ottica con luce laser definiti   più semplicemente FIber CONnection (FICON).  Per riuscire a gestire più connessioni tra CPUs e devices si è reso   necessario l'utilizzo di sofisticati apparati che permettessero   interconnessioni interne per comunicazioni di tipo molti-a-molti. Questi   apparati a seconda della tipologia di segnali ottici utilizzati   prendono il nome di ESCON directors o FICON directors. </p>
          <p>Al pari dei collegamenti e degli apparati di elaborazione dati anche gli   apparati per l'archiviazione dell'informazione hanno subito il processo   evolutivo nei vari &quot;stadi&quot; dell'Information Life Management.  Per quanto riguarda l'archiviazione a lungo termine ad esempio si è   passati da supporti su open-reel 3420 a supporti a cartucce 3480, 3490   fino agli attuali LTO. La lettura dei vecchi supporti avveniva tramite   le ingombranti C.U. che sono oggi sostituibili da soluzioni di   emulazione.  Le soluzioni storage solo da poco stanno iniziando ad essere compatibili   sia per l'ambiente mainframe che per l'ambiente open. Soluzioni di   emulazione aiutano molto in questa integrazione. </p>
          <p>
            <img src="/assets/solutions/Tapping1.png" alt="tapping1" width="206" height="156" hspace="20" />
            <img src="/assets/solutions/Tapping2.png" alt="tapping2" width="206" height="156" hspace="20" />
          </p>
			    <p>La maggior parte dei fornitori di telecomunicazioni sottovalutano oppure non conoscono questo tipo di rischio. Identificare quali cavi in fibra ottica vengono utilizzati e da chi, è semplice come individuare quei cavi marcati per l’attività di manutenzione negli appositi rack di accesso. Di conseguenza è sufficiente identificare il cavo proveniente da un edificio ed effettuare il tapping su di esso da un punto libero accessibile. Diverse migliaia di amplificatori, ognuno con funzioni specifiche, sono normalmente installati nei networks ottici, alloggiati in appositi contenitori che posso essere aperti facilmente con chiavi di fissaggio quadrate. Questi sono inoltre equipaggiati con connettori di servizio per le attività di manutenzione che forniscono un facile punto di attacco o intrusione. Utilizzando apparati di monitoraggio per dati disponibili in commercio, chiamati Internet Business Infrastructure (IBI) si è in grado con calma di analizzare il traffico dati fino alla velocità di 10 Gbps. Questi apparati, indipendentemente dai protocolli o tipo di network, distinguono i dati IP dal traffico del network ed offrono la possibilità di personalizzare la funzionalità di monitor per le proprie esigenze. Un esempio di azienda che fornisce questa soluzione è l'americana <a href="www.narus.com">Narus</a> che cita nella lista dei propri clienti numerose compagnie di telecomunicazioni nel mondo. </p>
			    <p><b>La sicurezza un problema internazionale </b></p>
			    <p>Come è noto, da tempo le maggiori organizzazioni internazionali si sono date carico del problema relativo alla sicurezza informatica e le azioni intraprese sono di recente divenute più incisive: ciò sia a seguito dell’attentato di New York dell’11 settembre 2001 e delle sue conseguenze, sia a causa dell’uso della rete per motivi di lotta politica e specificatamente di aggressione terroristica, sia infine a seguito dei gravi attacchi condotti verso le reti ed i sistemi di informazione mediante le tecniche cd. DoS e DdoS nei confronti della rete Internet a cui si sono aggiunte le diffusioni di Worms e Virus. Per concludere, il problema relativo alla sicurezza informatica è certamente serio e non è soltanto rivolto a livello nazionale, data la transnazionalità degli attacchi.		          </p>
			    <p><b>Internet ed il web 2.0</b>		          </p>
			    <p>Internet sta divenendo sempre più il sistema di scambio di informazioni, di accesso alle grandi banche dati, di esecuzione di transazioni e disposizioni finanziarie, di sviluppo di attività professionali e, parallelamente si sta evidenziando la sua attuale fragilità. A fianco di eventi distruttivi motivati da vandalismo, azioni di cyber terrorismo, puro esibizionismo cibernetico, si verificano molti attacchi rivolti a carpire informazioni, per scopi di concorrenza commerciale piuttosto che per attuare frodi informatiche. Non vanno dimenticate le troppo abusate forme di attacco a sistemi informatici e di comunicazione, che sono finalizzate principalmente a compromettere il corretto funzionamento di un sistema o a carpire informazioni commerciali o informazioni relative alle abitudini di vita di un utente, quali spyware, cookies, sniffing, tracking, hijacking, sino a raggiungere intollerabili azioni invasive delle caselle di posta elettronica.		          </p>
			    <p><b>Oltre la sicurezza</b>		          </p>
			    <p>Naturalmente tutti gli sforzi devono essere compiuti affinché gli incidenti informatici non abbiano a verificarsi, adottando le opportune contromisure sia livello tecnico sui sistemi ICT sia a livello organizzativo. Nei casi, tuttavia, in cui l’incidente finisce ugualmente per verificarsi è estremamente importante che sia stato sviluppato e che sia pienamente operativo un piano che garantisca il più possibile la continuità dei servizi offerti dai sistemi ICT colpiti dall’incidente. A tale scopo è necessario che l'azienda sviluppi un piano di Business Continuity. Lo scopo di questo piano è quello di individuare tutte le misure (tecnologiche e organizzative) atte a garantire la continuità dei processi dell’organizzazione in funzione del loro valore e della qualità dei prodotti/servizi erogati tramite il supporto dell’infrastruttura di ICT.</p>
			    <p>&nbsp;</p>
				</div>
				
				<div>
				  <%= link_to "torna alla homepage", root_path, :class => "links" %>
				</div>
				
		  </div>
		</div>
    		<!-- end #content -->

    		<div id="indexsidebar">
    			<ul>
    				<li>
    					<h3>Go Green</h3>
    					<p>80% di risparmio energetico, 80% di risparmio di spazio, 80% di risparmio per il raffreddamento, questi sono alcuni dei &quot;Green Benefits&quot; di Xiotech.</p>
    				</li>
    				<li>
              <%= render 'shared/portfolio' %>
    				</li>
    				<li>
              <%= render 'shared/soluzioni' %>
    				</li>
    			</ul>
    		</div>
    <!-- end #sidebar -->


    		<div style="clear: both;">
    			&nbsp;
    		</div>
    	</div>
    <!-- end #page -->
    </div>


    <div id="footer">
    	<p>
    		Copyright (c) 2011 htscs srl. All rights reserved.
    	</p>
    </div>
    <!-- end #footer -->