<%= render 'shared/nav_menu' %>

<div id="indexpage">
  <div id="page-bgtop">
		<div id="content">

			<div class="post">
				<p class="meta"> Posted by <a href="#">Marketing Team</a></p>
				<h2 class="title"><a href="#">Infrastruttura</a></h2>
				<div class="entry">
		      <h4>Connessioni in Fibra Ottica e cablaggi strutturati</h4>
					<p>L'infrastruttura è un insieme di elementi che, adeguatamente connessi, riescono ad evadere un compito specifico non realizzabile altrimenti.</p>
					<h4>IFS9000 Cablaggio intelligente</h4>
					<p>IFS9000 aiuta le aziende a sviluppare i requisiti di un “nuovo” datacenter con l’offerta della sua linea di cablaggio in fibra ottica “intelligente”. I sistemi in fibra ottica IFS9000 sono progettati per minimizzare la richiesta di spazio rack fornendo pannelli e cabinet modulari che incorporano un’intelligenza hardware e software. Quest’intelligenza “embedded” semplifica le procedure di implementazione, manutenzione e gestione dei collegamenti in fibra di tutto il CED. rendendo le connessioni veloci, affidabili e “visivamente guidate”, il sistema IFS9000 riduce drasticamente i tempi richiesti per la pianificazione ed attuazione di spostamenti, aggiunte e cambi di configurazione eliminando problematiche di disservizi dovute ad errori di configurazione o di installazione.L'evoluzione del mercato verso un contesto di rapidi cambiamenti e di forte competizione richiede, da parte delle aziende flessibilità nell'adattarsi alle mutate esigenze; le telecomunicazioni costituiscono un elemento basilare a supporto della trasformazione delle attività aziendali. Inoltre la crescente capacità di comunicazione trova risposta in area geografica ed in area locale in nuovi servizi e nuove tecnologie trasmissive caratterizzate da maggiore velocità e migliori qualità e flessibilità. </p>
				  <h4><em>FISEC</em></h4>
					<h4>Monitor in tempo reale della fibra ottica</h4>
					<p>Un roditore ha banchettato con la mia F.O.? Un fulmine ha interrotto una tratta?Una ruspa ha &quot;inciampato&quot; sui miei trunk? Uno smottamento mi ha &quot;stirato&quot; la mia F.O,? Quando non posso staccare la fibra per misurare con l’OTDR. Verificare la bontà del mio segnale nei collegamenti geografici.</p>
					<h4>Obtain 24/7 - Gestione dell’infrastruttura CED</h4>
					<p>Tool unico e comune per tutti gli attori di un Data-Center per documentare l’infrastruttura del CED.La casa madre Knowledge Flow Corporation realizza un prodotto in grado di supportare l’utente nella documentazione dell’HW installato in un centro di elaborazione dati. L’hardware considerato non si limita alle apparecchiature Open e Mainframe ma si estende agli switch, al cablaggio, agli apparati TLC ed alla parte elettrica, fornendo inoltre la grafica per eventuali disegni su plotter e la parte reportistica dei vari componenti del CED.</p>
					<h4>Cablaggi- Una delle nostre storie di successo</h4>
					<p>Nel presente articolo descriviamo uno dei ns interventi di   riconfigurazione e cablaggio di un rack, installato presso il CED di un   grande ente, che non era più gestibile a livello di connettività. </p>
          <h4>La modifica di una configurazione rack non più gestibile </h4>
					<p>
					  <img src="/assets/solutions/rackCablato.png" alt="Cabling1" width="206" height="156" hspace="5" align="right" />
					</p>
					<p>Le seguenti immagini mostrano una delle nostre attività in questo settore. Siamo stati interpellati per realizzare la modifica di un cablaggio in FO presso il CED di un grande ente ed abbiamo trovato una classica situazione di un rack con 
					  <img src="/assets/solutions/rackCablatoMale.png" alt="badcabling" width="235" height="325" hspace="5" align="left" />
					  connessioni fatte di volta in volta senza l'attenzione dovuta al passaggio dei cavi ma focalizzati sul funzionamento dei collegamenti. Questo ha portato nel tempo la situazione che si vede in fig.1 e 2.. 
					</p>
					<p>A fronte di quello che ci veniva chiesto, la nostra proposta di un cablaggio funzionale e professionale è stata di arrivare ad ottenere i risultati che si possono vedere nelle figure 3 . Il tutto si è evoluto nel proporre una soluzione di tre rack con il passaggio e l'attestazione delle FO all'interno degli stessi, riconfigurare i due apparati nei rack laterali e installare nel rack centrale una serie di patch panels per la commutazione delle FO. </p>
					<p>
					  <img src="/assets/solutions/rackEspansioneEBonifica.png" width="545" height="325" alt="goodcabl" />
					</p>
				</div>
				<div>
  			  <%= link_to "torna alla homepage", root_path, :class => "links" %>
  			</div>
			</div>

		</div>
    		<!-- end #content -->

    		<div id="indexsidebar">
    			<ul>
    				<li>
    					<h3>Go Green</h3>
    					<p>80% di risparmio energetico, 80% di risparmio di spazio, 80% di risparmio per il raffreddamento, questi sono alcuni dei &quot;Green Benefits&quot; di Xiotech.</p>
    				</li>
    				<li>
              <%= render 'shared/portfolio' %>
    				</li>
    				<li>
              <%= render 'shared/soluzioni' %>
    				</li>
    			</ul>
    		</div>
    <!-- end #sidebar -->


    		<div style="clear: both;">
    			&nbsp;
    		</div>
    	</div>
    <!-- end #page -->
    </div>


    <div id="footer">
    	<p>
    		Copyright (c) 2011 htscs srl. All rights reserved.
    	</p>
    </div>
    <!-- end #footer -->