<%= render 'shared/nav_menu' %>

<div id="indexpage">
  <div id="page-bgtop">
		<div id="content">
			<div class="post">
				<p class="meta"> Posted by <a href="#">Marketing Team</a></p>
				<h2 class="title"><a href="#">Rete Geografica e Locale</a></h2>
				<div class="entry">
		          <h4>Infrastruttura di Rete per il Traffico Dati</h4>
					<p>Le reti di computer (networking) e la loro interoperabilità (internetworking) sono da tempo, e lo saranno sempre più, termini ricorrenti nel mondo dell'Information and Communication Technology (ICT).
					  L'evoluzione del mercato verso un contesto di rapidi cambiamenti e di forte competizione richiede, da parte delle aziende flessibilità nell'adattarsi alle mutate esigenze; le telecomunicazioni costituiscono un elemento basilare a supporto della trasformazione delle attività aziendali. Inoltre la crescente capacità di comunicazione trova risposta in area geografica ed in area locale in nuovi servizi e nuove tecnologie trasmissive caratterizzate da maggiore velocità e migliori qualità e flessibilità. </p>
					<h4><em>Estensori di Canale e DWDM</em></h4>
					<p>In today’s technology-driven business environment, enterprises are structured almost entirely around the information they process, store, and share. As a result, protecting that information has become nearly as important as generating revenue and attracting new customers. Recent threats of disruption and data loss—including widespread power losses, natural disasters, malicious activity, and terrorism—have forced a reevaluation of data backup and storage replication design and implementation processes. Enterprise data centers are being dispersed geographically to minimize or eliminate the potential of a disruption. While this design concept has proven effective, the cost requirements and network infrastructure necessary to support the performance of these data centers has been less than ideal, often adding cost and complexity to the network.

In addition to addressing data protection and security concerns, enterprise and government agencies are networking and interconnecting data centers to consolidate data silos between geographically separate data center locations; lower maintenance, management, connectivity and bandwidth costs; and increase network efficiency. These types of site and data migrations require the support of highly available, low-latency networks. </p>
                   
                </div>
				<div></div>
			</div>
			<div class="post">
				
				<h2 class="title"><a href="#">Analisi del traffico a livello OSI7 - Shaping e Accellerazione su Wan</a>			</h2>
				<div class="entry">
					<p> Critical applications need to move at the speed of business. Blue Coat PacketShaper provides WAN Optimization functionality through a series of modules– monitoring, shaping and compression.

Monitoring Module Before you can optimize application performance, you need an accurate picture of network traffic. Blue Coat PacketShaper automatically classifies and measures network applications, providing the insight of a probe but with deeper, application-intelligent Layer 7 Plus visibility. In addition to delivering network and application utilization and performance data, the Monitoring Module validates common protocols and tracks what happens to each connection established by each application. Monitoring also breaks down traffic per application and per site at a granular level, recording peak and average utilization rates, bytes transmitted, availability, utilization, top talkers/listeners, network efficiency and much more. Once traffic has been identified, PacketShaper monitors performance – over 100 stats per application class – in real time. Track how much bandwidth applications are using, the end user response times of key applications and key stats like TCP Healthy, efficiency and troublesome servers to aid troubleshooting. Targeted packet captures can be accomplished for use with your protocol analysis tools. Voice level intelligence tracks Mean Opinion Scores (MOS), jitter, delay and loss for voice and video conferencing traffic over Real Time Protocol – for real traffic in real time. All of these capabilities can integrate into your performance management environment, including intelligent thresholds and alerts when problems are about to occur. -&gt; Identify and classify applications with Layer 7 Plus technology. Monitor performance in real time and the information you need to solve performance issues.

Shaping Module The Blue Coat PacketShaper Shaping Module provides Quality of Service (QoS) provisioning that helps you control traffic to ensure that latency-sensitive, customer-critical applications get the bandwidth they need to perform at their peak. With patented TCP rate control, the Shaping Module can automatically enforce appropriate transfer rates for computers at the far end of the network to deliver true bi-directional QoS. -&gt; Fix critical application performance issues by allocating bandwidth to ensure applications perform.

Compression Module The Blue Coat PacketShaper Compression Module instantly increases WAN capacity, improving application performance and user response times. Using a symmetric, application intelligent architecture and multiple data reduction methods, the Compression Module intelligently selects what traffic to compress and which technology to use – increasing capacity from two to ten times, reducing bandwidth usage and minimizing WAN latency. -&gt; Create more bandwidth from existing physical links and enhance the user experience. 

				</p>
				</div>
				<div><a href="../index.html" class="links">torna alla homepage</a></div>
		  </div>
		</div>
    		<!-- end #content -->

    		<div id="indexsidebar">
    			<ul>
    				<li>
    					<h3>Go Green</h3>
    					<p>80% di risparmio energetico, 80% di risparmio di spazio, 80% di risparmio per il raffreddamento, questi sono alcuni dei &quot;Green Benefits&quot; di Xiotech.</p>
    				</li>
    				<li>
              <%= render 'shared/portfolio' %>
    				</li>
    				<li>
              <%= render 'shared/soluzioni' %>
    				</li>
    			</ul>
    		</div>
    <!-- end #sidebar -->


    		<div style="clear: both;">
    			&nbsp;
    		</div>
    	</div>
    <!-- end #page -->
    </div>


    <div id="footer">
    	<p>
    		Copyright (c) 2011 htscs srl. All rights reserved.
    	</p>
    </div>
    <!-- end #footer -->